# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Virtual environment
venv/
env/
*.env

# Results / output folders
results/
*.h5
*.ckpt
*.pt

# Dataset (optional, if large)
dataset/

# Logs
*.log

# Ignore IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
